sigasbl/conf/web/sigas/rest/META-INF/wsdl/Enti2EPaywsoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="Enti2EPaywsoService"
  targetNamespace="http://www.csi.it/epay/epaywso/enti2epaywsosrv"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:srv="http://www.csi.it/epay/epaywso/enti2epaywso/types"
  xmlns:cmn="http://www.csi.it/epay/epaywso/types"
  xmlns:tns="http://www.csi.it/epay/epaywso/enti2epaywsosrv">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.csi.it/epay/epaywso/types" schemaLocation="EPaywsoCommonTypes.xsd"/>
      <xsd:import namespace="http://www.csi.it/epay/epaywso/enti2epaywso/types" schemaLocation="Enti2EPaywsoServiceTypes.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InserisciListaDiCaricoRequest">
    <wsdl:part element="srv:InserisciListaDiCaricoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="InserisciListaDiCaricoResponse">
    <wsdl:part element="cmn:EPaywsoServiceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AggiornaPosizioniDebitorieRequest">
    <wsdl:part element="srv:AggiornaPosizioniDebitorieRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AggiornaPosizioniDebitorieResponse">
    <wsdl:part element="cmn:EPaywsoServiceResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Enti2EPaywsoService">
    <wsdl:operation name="InserisciListaDiCarico">
      <wsdl:input message="tns:InserisciListaDiCaricoRequest"/>
      <wsdl:output message="tns:InserisciListaDiCaricoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="AggiornaPosizioniDebitorie">
      <wsdl:input message="tns:AggiornaPosizioniDebitorieRequest"/>
      <wsdl:output message="tns:AggiornaPosizioniDebitorieResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Enti2EPaywsoServiceSOAP" type="tns:Enti2EPaywsoService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InserisciListaDiCarico">
      <soap:operation soapAction="http://www.csi.it/epay/epaywso/service/InserisciListaDiCarico"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaPosizioniDebitorie">
      <soap:operation soapAction="http://www.csi.it/epay/epaywso/service/AggiornaPosizioniDebitorie"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Enti2EPaywsoService">
    <wsdl:port binding="tns:Enti2EPaywsoServiceSOAP" name="Enti2EPaywsoServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
